{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block content %}
 {% include 'profiles/nav.html' %}

<h3>All Reviews of" {{profile.user}} " </h3>

      {% for rating in all_ratings %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <img class="ui small  image " src="{{rating.sender.dp.url}}">
                        </div>
                        <div class="thirteen wide column">
                                <p>username : {{rating.sender.user.username}} </p>
                              <p>Score : {{rating.score}}</p>
                              <p>Review : {{rating.review}}</p>
                            <br>
                            </div>
                    </div>

                </div>
            </div>
      {% endfor %}

{% endblock content%}