{% extends "base.html" %}
{% block title %}Connection Requests{% endblock %}
{% block content %}
 {% include 'profiles/nav.html' %}
<div class="ui segment">
    {% if is_empty %}
        <h3>No New Connection Request</h3>
    {%endif%}
</div>
<p> Connection Requests :</p>
  <ul>
      {% for item in connections_requests %}
         <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img  class="ui small image" src="{{item.dp.url}}">
                    </div>
                     <div class="thirteen wide column">
                            <h3>{{item.user}}</h3>
                         <p>{{item.bio}}</p>
                         <a href="{% url 'ProfileDetailView' item.id %}">
                             <button class="ui primary button">See Profile</button>
                         </a>
                          <form action="{% url "approve_connection" %}" class="ui form" method="POST">
                                     {% csrf_token %}
                             <input type="hidden" name="profile_pk" value="{{item.pk}}">
                                            <button class="ui positive  button">
                                            <i class="user plus icon"></i>
                                           Approve
                                        </button>

                              </form>

                             <form action="{% url "remove_connection" %}" class="ui form" method="POST">
                                     {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value="{{item.pk}}">
                                            <button class="ui Negative  button">
                                            <i class="user minus icon"></i>
                                           Decline
                                        </button>

                              </form>

                    </div>
                </div>
            </div>
         </div>
      {% endfor %}
  </ul>
        {% if profile.is_client %}

                <ul>
                      {% for job_request in job_requests %}
                                    <div class="ui segment">
                                         <p>Applications for " {{job_request.job.title}}</p>
                                    </div>

                         <div class="ui segment">
                            <div class="ui grid">
                                <div class="row">

                                    <div class="three wide column">
                                        <img  class="ui small image" src="{{job_request.sender.dp.url}}">
                                    </div>
                                     <div class="thirteen wide column">
                                            <h3>{{job_request.sender.user}}</h3>
                                         <p>{{job_request.sender.bio}}</p>
                                         <br>
                                         <br>
                                         <br>

                                         <div class="ui grid">
                                             <a href="{% url 'ProfileDetailView' job_request.sender.id %}">
                                             <button class="ui primary button">See Profile</button>
                                         </a>
                                          <form action="{% url 'posts:approve_job_request'%}" class="ui form" method="POST">
                                                     {% csrf_token %}
                                             <input type="hidden" name="request_pk" value="{{job_request.pk}}">
                                                            <button class="ui positive  button">
                                                            <i class="user plus icon"></i>
                                                           Approve
                                                        </button>

                                              </form>

                                             <form action="" class="ui form" method="POST">
                                                     {% csrf_token %}
                                                    <input type="hidden" name="applicant_id" value="{{job_request.sender..id}}">
                                                            <button class="ui Negative red  button">
                                                            <i class="user minus icon"></i>
                                                           Decline
                                                        </button>

                                              </form>
                                             <br>
                                         </div>



                                    </div>
                                </div>
                            </div>
                         </div>

                       {% endfor %}
                    </ul>
          {% endif %}


     {% if profile.is_freelancer %}

             <p>Appointment Letters </p>
                <ul>
                      {% for appointment in appointment_letters %}

                        <div class="ui message">
                          <div class="header">
                            Congratulations!!!
                          </div>
                          <p> {{appointment.sender.user}} has chosen you for
                             job " {{appointment.job.title }} ".
                          </p>
                        </div>


                       {% endfor %}
                    </ul>














      {% endif %}























{% endblock content%}