{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block content %}
 {% include 'profiles/nav.html' %}


<div class="ui container">
  <i class="close icon"></i>
  <div class="header">
   Rate Employee
  </div>
      <div class="image content">
            <div class="description">
               <form id="personForm" action="" method="POST" class="ui form"  >

                   {% csrf_token %}
                     {{rating_form.as_p}}
            </div>
      </div>
              <div class="actions">
                <button id="rate-btn" type="submit" class="ui positive right labeled icon button">
                 Rate
                  <i class="checkmark icon"></i>
                </button>
                  </form>

              </div>
    </div>

{% endblock content%}