{% extends "base.html" %}
{% block title %}Workspaces{% endblock %}
{% block content %}
 {% include 'profiles/nav.html' %}
  <h3> Ongoing projects for {{profile.user.username}}</h3>
<br>
<br>
<br>
   <div class="ui grid">
        {% for job in jobs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        {% if job.image%}
                        <div class="five wide column">
                            <img class="ui medium  image " src="{{job.image.url}}">
                        </div>
                        {% endif %}
                        <div class="thirteen wide column">
                                <p>Title : {{job.title}} </p>
                               <p>Name : {{job.description}} </p>
                            <a href="">
                                 <button class="ui primary button">WorkSpace</button>
                            </a>
                            <br>
                            </div>
                    </div>

                </div>
            </div>
      {% endfor %}
   </div>


{% endblock content%}