<div class="ui attached stackable menu">
  <div class="ui container">
    <a href="{% url 'dashboard'%}" class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="{% url 'profile_view' user.id %}" class="item"><i class="edit icon"></i> Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a href="{% url "logout" %}" class="item"><i class="settings icon"></i> Logout</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>
  </div>
</div>
